<form [formGroup]= "recoverForm" (ngSubmit)="onReset()">
  <div id="backgroundRecover">

    <div class="container">
      <img src="../../../../assets/img/changepassword.png">
      <h4>¿Tienes problemas para ingresar?</h4>
      <h6>Ingresa tu correo electrónico y te enviaremos un enlace para que recuperes el acceso a tu cuenta.</h6>
      <br>
      <br>
      <div class="mb-3">
        <input type="email" class="form-control" formControlName= "email"/>
        <br>
        <button type="submit" class="btn btn-primary">Enviar enlace de inicio de sesión</button>
        <br>
        <br>
        <a [routerLink]="['/login']"> Volver al inicio de sesión</a>

      </div>
    </div>
  </div>
<form>
